// core
$white: #FFF;
$black: #000;
$lightgrey: #F0F0F0;
$gray: gray;

$body-bg: #F0F0F0;
$primary: #86af49;
$darkprimary: #130d20;
$secondary: #b5e7a0;
$tertiary: #e3eaa7;
$warning: #ee6f3d;
$danger: #eb553b;
$light: #F5F5F5;

$font-family-base: 'Montserrat', sans-serif;

//$enable-rounded: false;

//$text-color: $white;









